body {
  font-family: "Kanit";
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.bubbleTea{
  position: relative;
  border: 2px solid white;
}

.ads{
  position: absolute;
  width: 550px; 
  color: white; 
  height: 150px;
  top: 270px;
  font-size: 26px;
}

.location{
  position: absolute;
  color: white;
  width: 60px;
  height: 40px;
  top: 20px;
  right: 30px; 
  background-color: lightgray;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}