body {
  font-family: serif;

  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container {
  padding: 10px;
  background-color: #fff;
  position: relative;
}

.img-container img {
  border-radius: 8px;
}

.img-container .name-container {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 14px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 20px 10px 10px 10px;
  border-radius: 0 0 8px 8px;
}

.img-container .name {
  color: #fff;
  font-size: 24px;
}

.img-container .location {
  position: absolute;
  top: 20px;
  right: 10px;
  background-color: #000000b3;
  padding: 5px 20px;
  color: #fff;
  font-size: 20px;
}
